* {
  font-family: "DotGothic16", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.scrolling {
  background-color: transparent (131, 124, 124);
  transition: all 0.5s ease;
}

.about-opacity {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.footer-background {
  background-image: url("../src/assets/footer4.gif");
  background-position: center;
  background-size: 222%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.footer-item {
  color: #e2d9e4;
}

.footer-item:hover {
  animation: links-footer 1.5s;
  text-align: center;
  color: #a5992d;
  text-shadow: 2px 2px 8px #ff0000;
  transform: scale(1.1);
}

.tecnologias {
  color: #dfaedc;
  text-shadow: 2px 2px #b700ff;
  width: 12rem;
}

.animacion {
  animation: mezcladito 4s infinite;
}

.animacio-about-me {
  width: 100%;
  color: #e9d78a;
  text-shadow: 2px 2px 8px #e60e0e;
}

.animacion3 {
  animation: mezcladito2 4s infinite;
}

@keyframes transformando {
  from {
    transition: 1.5s;
    box-shadow: rgba(124, 17, 17, 0.25) 0px 54px 55px,
      rgba(139, 48, 48, 0.12) 0px -12px 30px,
      rgba(168, 64, 64, 0.12) 0px 4px 6px,
      rgba(160, 115, 115, 0.17) 0px 12px 13px,
      rgba(175, 142, 33, 0.774) 0px -3px 5px;
    color: #c0b01e;
    text-shadow: 2px 2px 8px #ff0000;
    width: auto;
  }

  50% {
    transition: 17.5s;
  }

  to {
    transition: 17.5s;
    /* background-color:#16d345 ;*/
    color: #c0b01e;
    text-shadow: 2px 2px 8px #ff0000;
  }
}

@keyframes mezcladito {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #a5992d;
    text-shadow: 2px 2px 8px #ff0000;
  }

  50% {
    transition: 7.5s;

    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #c48220cb;
  }

  75% {
    transition: 7.5s;
    color: #ccc90d;
    text-shadow: 2px 2px 8px #ff0000;
  }
  to {
    transition: 10.5s;

    color: #bd9616;
    text-shadow: 2px 2px 8px #ff0000;
  }
}

@keyframes about-me-title {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #e5e3cb;
    text-shadow: 2px 2px 8px #caa4a4;
  }

  50% {
    transition: 7.5s;

    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #e4ecdecb;
  }

  75% {
    transition: 7.5s;
    color: #e5e3cb;
    text-shadow: 2px 2px 8px #00ffa6;
  }
  to {
    transition: 10.5s;

    color: #e5e3cb;
    text-shadow: 2px 2px 8px #00ffa6;
  }
}

@keyframes mezcladito2 {
  from {
    transition: 7.5s;
    /* background-color: #91d316;*/
    color: #ce8adf;
  }

  50% {
    transition: 7.5s;

    right: 1em;
  }

  65% {
    transition: 7.5s;
    color: #dca1ebcb;
  }

  75% {
    transition: 7.5s;
    color: #e486d4;
    text-shadow: 2px 2px 8px #ca3b8a;
  }
  to {
    transition: 10.5s;

    color: #d375b7;
    text-shadow: 2px 2px 8px #ca3b8a;
  }
}

@keyframes links-footer {
  from {
    transition: 7.5s;
    box-shadow: rgba(124, 17, 17, 0.25) 0px 54px 55px,
      rgba(167, 63, 144, 0.12) 0px -12px 30px,
      rgba(165, 64, 168, 0.12) 0px 4px 6px,
      rgba(202, 121, 175, 0.17) 0px 12px 13px,
      rgba(196, 96, 179, 0.774) 0px -3px 5px;
    color: #dfaedc;
    text-shadow: 2px 2px 8px #b700ff;
    width: 10rem;
  }

  50% {
    transition: 7.5s;
    width: 12rem;
  }

  to {
    transition: 10.5s;
    /* background-color:#16d345 ;*/
    color: #c0b01e;
    text-shadow: 2px 2px 8px #ff0000;
  }
}
